<h1 style="text-align: center">New Book</h1>

<%= form_with model: @book, url: "/book/add", data: { turbo: false }, method: :post, local: true do |f| %>
  <p>
    <%= f.label :book_title, "Book Title" %><br>
    <%= f.text_field :book_title %>
  </p>

  <div class="dropdown">
    <%= f.label :author_ids, "Select Authors" %><br>

    <!-- Reduced width search bar -->
    <input type="text" id="author-search" placeholder="Search authors..." style="margin-bottom: 10px; width: 12%; padding: 5px;">

    <!-- Author List (initially hidden, shown on focus or input) -->
    <ul id="author-list" style="display: none; max-height: 150px; overflow-y: auto; list-style: none; padding: 0; margin: 0; border: 1px solid #ccc; width: 12%;">
      <%# Show all authors initially %>
      <% @authors
          .each do |author| %>
        <li class="dropdown-item" style="padding: 5px;">
          <label style="cursor: pointer;">
            <input type="checkbox" name="book[author_ids][]" value="<%= author.id %>">
            <%= author.first_name %> <%= author.last_name %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>

  <p>
    <%= f.submit "Add Book" %>
  </p>
<% end %>